<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>List of Beers</title>
	</head>
	<body>

		<h1 th:text="${styleName}"></h1>

		<a href="/">Back</a>

		<div th:if="${#lists.isEmpty(beers)}">
			<h2>No beers found for this style</h2>
		</div>

		<table border="1" th:unless="${#lists.isEmpty(beers)}">
			<thead>
				<tr>
					<th>Beer Name</th>
					<th>Description</th>
					<th>Brewery Name</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="b: ${beers}" data-th-object="${b}">
					<td>
						<span data-th-text="*{beerName}"></span> 
					</td>
					<td>
						<span data-th-text="*{beerDescription}"></span> 
					</td>
					<td>
						<a data-th-href="@{/brewery/{id}(id=*{breweryId})}">
							<span data-th-text="*{breweryName}"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

	</body>
</html>
